<html ng-app="timerangeDemo">
<head>
    <meta charset="UTF-8">
    <title>Timerange slider</title>
    <link rel="stylesheet" href="../multirange.css">
</head>
<body>

<div ng-controller="DemoCtrl">
    <div>
        <input type="number" ng-model="entry" step="15" placeholder="Add entry">
        <input type="color" ng-model="entryColor">
        <button type="button" ng-click="add()">Add</button>
    </div>
    <ul>
        <li ng-repeat="range in rangeArray">
            <input type="number" ng-model="range.value" step="15">
            <input type="color" ng-model="range.color">
    </ul>
    <recras-timerange ng-model="rangeArray" view="view"></recras-timerange>
</div>

<script src="../bower_components/angular/angular.js"></script>
<script src="../multirange.js"></script>
<script src="demo.js"></script>
</body>
</html>
